* {
  padding:0px;
  margin:0px;
}
html{

}
body {
  font: 12px 'ו';
  color: #000000;
  background-color: #FFF;
}
img {
  border: none;
}
a {
  color:#000000;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
ul, li {
  list-style: none outside;
}
input,select,button {
  font: 12px 'ו';
  vertical-align:middle;
}


.clearfix {
  clear: both;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.mb6 {
  margin-bottom: 6px !important;
}
.noborder {
  border: none !important;
}
.h26 li {
  height: 26px !important;
  line-height: 26px !important;
}


.layout {
  width: 960px;
  margin: 0 auto;
}
.mainBox {
  float: left;
  width: 708px;
  overflow: hidden;
}
.sider {
  float: right;
  width: 244px;
  overflow: hidden;
}

.pages {
  margin-bottom: 20px;
}
.pages ul {
  padding: 20px;
}
.pages ul li{
	float:left;
	margin-right: 10px;
}
.pages ul li a {
	padding: 2px 4px 2px 4px;
	color: #555;
	display: block;
}
.pages ul li a:hover{
	text-decoration:none;
}
.pages ul li.thisclass, .pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	background-color:#F8F8F8;
	padding: 2px 4px 2px 4px;
	font-weight:bold;
}
.pages .pageinfo{
	line-height:21px;
	padding:12px 10px 12px 16px;
	color:#999;
}
.pages .pageinfo strong{
	color:#555;
	font-weight:normal;
	margin:0px 2px;
}

.footer {
  font-size: 12px;
  color: #404040;
  text-align: center;
  line-height: 22px;
}
.footer .fhead {
  background-color: #006699;
  height: 28px;
  line-height: 28px;
  color: #ffffff;
}
.footer .fhead a {
  width: 70px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
.footer a {
  font-size: 12px;
  color: #404040;
  text-decoration: underline;
}
.footer .text {
  padding-top: 10px;
}

.banner {
  clear: both;
  margin-bottom: 6px;
}

.header {
  border: 1px solid #006699;
  margin-bottom: 6px;
}
.header .logo {
  float: left;
  width: 377px;
  height: 113px;
}
.nav {
  float: left;
 
}
.nav ul {

}
.nav ul li {
  float: left;
  width: 68px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.nav ul li a {
  font-size: 14px;

}
.action {
  color: #993333;
  font-size: 12px;
}
.action a {
  color: #993333;
  font-size: 12px;
}
.action form {
/*  height: 30px;*/
}
.action .fixheight {
  height: 1px;
}
.action .block2 {
  float: left;
  width: 370px;
  height: 30px;
}
.action .input {
  height: 16px;
  border: 1px solid #993333;
}
.action .btn {
  width: 40px;
  height: 18px;
  border: 1px solid #993333;
  background-color: #993333;
  color: #ffffff;
}
.action .block3 {
  float: left;
  width: 260px;
  height: 30px;
  text-align: center;
}
.action .block4 {
  float: right;
  width: 320px;
  height: 30px;
}

.area {
  border-top: 1px solid #006699;
  border-bottom: 1px solid #006699;
  line-height: 24px;
}
.area ul li {
  float: left;
  width: 56px;
  text-align: center;
}
.area ul li a {
  font-size: 12px;
}

.sitenav {
  border-bottom: 1px solid #006699;
  margin-bottom: 6px;
  height: 60px;
  color: #442415;
  background-color: #faf1ec;
}
.sitenav ul li {
  float: left;
  width: 160px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.sitenav ul li a {
  color: #442415;
  font-size: 14px;
}
.sitenav ul li.line {
  width: 1px;
}


.leftColumn {
  float: left;
  width: 304px;
}
.middleColumn {
  float: left;
  width: 400px;
  margin-left: 6px;
}
.rightColumn {
  float: right;
  width: 244px;
}
.wideLeftColumn {
  float: left;
  width: 708px;
}


.block1 {
  margin-bottom: 6px;
}
.lineBorder {
  border: 1px solid #006699;
}
.headNews {
  height: 260px;
  margin: 0 auto;
  margin-bottom: 6px;
}
.picNews {
  width: 294px;
  height: 256px;
  padding-top: 4px;
  margin: 0 auto;
}

.box {
  border: 1px solid #006699;
}
.noborder {
  border: none !important;
}
.box .boxTitle {
  height: 24px;
  line-height: 24px;
  color: #ffffff;
  background-color: #006699;
}
.box .boxTitle strong {
  margin-left: 8px;
  color: #fff;
}
.box .boxTitle strong a {
  color: #fff;
  font-size: 14px;
}
.box .boxList {}
.box .boxList ul li {
  height: 24px;
  line-height: 24px;
  padding-left: 12px;
  overflow: hidden;
}
.box .boxList ul li a {
  font-size: 12px;
}
.box .boxList ul.ico li {
  background: url(/images/ico.jpg) no-repeat 4px 10px;
}
.box .boxList ul.videoico {
  
  margin: 6px;
}
.box .boxList ul.videoico li {
  padding-left: 18px;
  background: url(/images/video_ico.jpg) no-repeat 0px 8px;
}
.box .boxList span {
  float: right;
  font-size: 10px;
  margin-right: 10px;
}

.middleAD {
  height: 68px;
  overflow: hidden;
  margin: 6px auto;
}
.middleAD img {
  width: 386px;
}
.middlePicList {
  margin: 0 auto;
}
.middlePicList .pic {
  float: left;
  width: 106px;
  text-align: center;
  line-height: 20px;
}
.middlePicList .list {
  float: right;
  width: 260px;
  height: 90px;
}

.videoPlayer {
  width: 224px;
  height: 196px;
  margin: 6px auto;
}


.guzhenwenhua {}
.guzhenwenhua .block1 {
  float: left;
  width: 390px;
  border-right: 1px dashed #666666;
  padding-right: 6px;
}
.guzhenwenhua .block2 {
  float: right;
  width: 300px;
}
.guzhenwenhua .block1 .picList1 {}
.guzhenwenhua .block1 .picList2 {}
.guzhenwenhua .block1 .pic {
  float: left;
  width: 202px;
  height: 120px;
  text-align: center; 
  margin-top: 4px;
  margin-left: 4px;
}
.guzhenwenhua .block1 .pic img {
  margin-top: 4px;
}
.guzhenwenhua .block1 .list {
  float: right;
  width: 180px;
}

.renwufengcai {
  margin-top: 6px;
  margin-left: 10px;
  margin-right: 10px;
}
.renwufengcai .touxiang a {
  border: 1px solid #006699;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 4px;
}
.renwufengcai .touxiang a img {
  width: 60px;
  height: 60px;
  margin-top: 2px;
  margin-left: 2px;
}
.renwufengcai .jianli {
  margin-top: 10px;
}
.renwufengcai .jianli ul li {
  margin-bottom: 4px;
  padding-bottom: 4px;
  line-height: 20px;
  border-bottom: 1px dashed #666;
}


.scrollPicList {
  width: 960px;
  padding-top: 7px;
  height: 123px;
  overflow: hidden;
}
.scrollPicList ul li {
  float: left;
  width: 135px;
  height: 123px;
  margin-right: 6px;
  line-height: 22px;
  text-align: center;
}
.scrollPicList ul li .scrollTitle {
  height: 22px;
  overflow: hidden;
}

.PicList {
  width: 700px;
  padding-top: 7px;
  height: 123px;
  overflow: hidden;
  padding-left:5px;
}
.PicList ul li {
  float: left;
  width: 135px;
  height: 123px;
  margin-right: 4px;
  line-height: 22px;
  text-align: center;
}
.PicList ul li .Title {
  height: 22px;
  overflow: hidden;
}

.threeColumns {}
.threeColumns .column {
  float: left;
  width: 314px;
  margin-right: 4px;
}
.threeColumns .boxPicList {
  margin-top: 6px;
  margin-left: 12px;
  line-height: 20px;
}
.threeColumns .boxPicList ul li {
  width: 90px;
  height: 92px;
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
  text-align: center;
  overflow: hidden;
}
.threeColumns .boxPicList ul li div.pictitle {
  line-height: 20px;
}

.guzhenbaohu {}
.guzhenbaohu .block1 {
  float: left;
  width: 350px;
  height: 250px;
  margin-top: 10px;
  border-right: 1px dashed #666666;
}
.guzhenbaohu .block2 {
  float: right;
  width: 350px;
  height: 250px;
  margin-top: 10px;
}


.block6 {}
.block6 .fourPics {
  margin-top: 6px;
  margin-left: 10px;
}
.block6 .fourPics a {
  margin-right: 4px;
}
.block6 .twoColumns {
  
}
.block6 .twoColumns .column {
  float: left;
}
.block6 .threeBlocks {
  margin: 10px;
}
.block6 .threeBlocks .oneBlock {
  float: left;
  width: 200px;
  height: 200px;
  border-right: 1px dashed #666666;
  margin-right: 10px;
  padding-right: 10px;
}
.block6 .picList {
  margin: 0 10px;
}
.block6 .picList .fixheight {
  height: 10px;
}
.block6 .picList .pic {
  width: 115px;
  height: 80px;
  float: left;
}
.block6 .picList .list {
  width: 160px;
  height: 80px;
  float: right;
}
.block6 .picList .view {
  width: 240px;
  height: 80px;
  float: right;
}
.block6 .picList .view h3 {
  line-height: 20px;
  font-size: 14px;
}
.block6 .picList .view .info {
  line-height: 20px;
}
.block6 ol.twoColumnWords {
  padding: 6px;
}
.block6 ol.twoColumnWords li {
  float: left;
  width: 100px;
  height: 30px;
  line-height: 30px;
}


.block7 {}
.block7 ul {
  margin-top: 6px;
  margin-left: 6px;
}
.block7 ul li {
  float: left;
  width: 135px;
  height: 130px;
  line-height: 20px;
  text-align: center;
  margin-right: 4px;
}
.block7 ul li  .Title {
  height: 22px;
  overflow: hidden;
}

.block8 .textLinks li {
  float: left;
  width: 150px;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  margin-bottom: 2px;
}
.block8 .imgLinks li {
  float: left;
  width: 96px;
  height: 32px;
  margin-bottom: 2px;
}


.place {
  line-height: 30px;
  height: 30px;
  color: #666;
}
.place a {
  color: #666;
}


.listbox {
  margin-bottom: 20px;
}
.listbox ul.list {
  padding: 20px;
}
.listbox ul.list li {
  line-height: 30px;
  background: url(/images/ico.jpg) no-repeat 0 14px;
  padding-left: 14px;
  margin-bottom: 10px;
}
.listbox ul.list li a {
  font-size: 14px;
}
.listbox ul.list li a b {
  font-weight: normal;
}
.listbox ul.list li span {
  color: #666;
  float: right;
}
.listbox ul.picList {
  padding: 20px;
}
.listbox ul.picList li {
  float: left;
  width: 120px;
  margin-right: 12px;
  margin-bottom: 12px;
  line-height: 30px;
  text-align: center;
}


.viewbox {
  padding: 20px;
}
.viewbox .title {
  font-size: 24px;
  line-height: 60px;
  text-align: center;
}
.viewbox .info {
  line-height: 30px;
  text-align: center;
  color: grey;
}
.viewbox .text {
  font-size: 14px;
  padding: 20px;
  line-height: 200%;
}
.viewbox .textaction {
  padding: 40px 0;
  line-height: 200%;
}
.viewbox ul.picList {
  padding: 20px;
}
.viewbox ul.picList li {
  float: left;
  width: 60px;
  height: 50px;
  margin-right: 12px;
  margin-bottom: 12px;
  line-height: 30px;
  text-align: center;
}
.viewbox .videoPlayer2 {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.indexADList .ad-r {
  margin-bottom: 3px;
}

#loginForm{
	padding:5px;
	background-color:#006699;
	color:#FFF;
}
#loginForm a{
	color:#FFF;
}
#separator{
	clear:both;
	height:10px;
	background-color:#006699;
}
#structure{
	line-height: 22px;
	padding: 6px 10px;
}
#structure p{
	margin-top:20px;
	margin-bottom:20px;
}
.structure_pic {
	width: 222px;
	margin: 0 auto;
}
#filedownload{
	width:80%;
	text-align:right;
	padding-top:30px;
	padding-bottom:10px;
}
.description{
	padding:10px;
}


.twoColumns {
  
}
.twoColumns .leftcolumn {
  float: left;
  width:460px;
}
.twoColumns .rightcolumn {
  float: right;
  width:492px;
}

.zcfg_left {
	width: 200px;
	float: left;
	margin-left: 10px;
}
.zcfg_right {
	width: 200px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

